<% layout("/layouts/boilerplate") %>
<div class="show-listing mx-auto px-5 mb-4 mt-3">
  <h3><%= listing.title %></h3>

  <div class="listing-card card mt-4" style="width: 18rem">
    <img src="<%= listing.image %>" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text"><b><%= listing.description %></b></p>
      <p class="price">
        &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
      </p>
      <p class="location"><%= listing.location %></p>
      <p class="country"><%= listing.country %></p>
      <p class="owner">Owner : <%= listing.owner.username %></p>
    </div>
    <% if(CurrentUser && listing.owner._id.equals(CurrentUser._id)) {%>
    <div class="show-edit-del-btns">
      <form action="/listings/<%= listing._id %>/edit" method="get">
        <button type="submit" class="btnn edit">Edit</button>
      </form>
      <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
        <button type="submit" class="btnn delete">Delete</button>
      </form>
    </div>
    <% } %>

    <% if(CurrentUser) { %>
    <!-- Review Input Form -->
    <div class="border-top-1px mt-4 py-4">
      <h4>Leave a review</h4>
      <form
        action="/listings/<%= listing.id %>/reviews"
        novalidate
        class="needs-validation"
        method="post"
      >
        <div class="mb-3">
          <label for="range" class="form-label">Range</label>
          <input
            type="range"
            class="form-range"
            min="0"
            max="5"
            id="range2"
            name="review[rating]"
          />
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea
            class="form-control"
            required
            name="review[comment]"
            id=""
          ></textarea>
          <div class="invalid-feedback">Please enter a comment.</div>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>
    </div>
    <% } %>

    <div class="border-top-1px mt-4 py-4">
      <h4>All Reviews</h4>
      <!-- <p><%= listing %></p> -->
      <!-- <ul>
        <% for( review of listing.reviews) { %>
          <li><%= review.comment %>,<%= review.rating %></li>
        <% } %>
      </ul> -->

      <div class="card-conatiner row">
        <% for(let review of listing.reviews) { %>
        <div class="col-6 mb-3">
          <form
            method="post"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
          >
            <div class="review-card card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= review.author.username %></h5>
                <h6 class="card-subtitle"><b><%= review.rating %></b> Stars</h6>
                <p class="card-text text-body-secondary">
                  <%= review.comment %>
                </p>
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
